extends ../layout.pug

block scripts
	script(type='text/javascript' src='/js/moment.min.js')
	script(type='text/javascript' src='/js/chart.min.js')
	script(type='text/javascript' src='/js/anal' + min + '.js')

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h1 Analytics
			p Advanced and detailed analytics about your bot page.
	.padded-container
		.row
			.col-lg-4
				.card.preview-card.analytics-statistic
					.card-body
						h2 Views
						p#views Loading...
						select.form-control#view-duration
							option(value='today') Today
							option(value='week') This week
							option(value='month') This month
							option(value='year') This year
							option(value='beginning') Since the beginning
						hr
						canvas#views-canvas
			.col-lg-4
				.card.preview-card.analytics-statistic
					.card-body
						h2 Invites
						p#invites Loading...
						select.form-control#invite-duration
							option(value='today') Today
							option(value='week') This week
							option(value='month') This month
							option(value='year') This year
							option(value='beginning') Since the beginning
						hr
						canvas#invites-canvas
			.col-lg-4
				.card.preview-card.analytics-statistic
					.card-body
						h2 Upvotes
						p#upvotes Loading...
						select.form-control#upvote-duration
							option(value='today') Today
							option(value='week') This week
							option(value='month') This month
							option(value='year') This year
							option(value='beginning') Since the beginning
						hr
						canvas#upvotes-canvas