extends ../layout.pug

block scripts
	script(type='text/javascript' src='/js/token' + min + '.js')

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h2 Token
			p The bot token used for authorization in the API.
	.container
		input.invisible(type='text' value=bot.token)
		span.code-spoiler.box-shadow.mb-3
			span.code #{bot.token}
			span.text Hover to Reveal
		button.btn.btn-dark.btn-green.mr-3#copy Copy Token
		form.d-inline-block(method='post')
			button.btn.btn-dark Regenerate Token