extends ../layout.pug

block scripts
	script(type='text/javascript' src='/js/uptime' + min + '.js')

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h1 Uptime
			p See how long your bot has been online.
	.container
		.card.preview-card
			.card-body
				p
					span.font-weight-bold Online percentage
					| : #{((uptime.online / uptime.total) * 100).toFixed(1)}%
				p
					span.font-weight-bold Status checks
					| : #{uptime.total.toLocaleString()}
				p
					span.font-weight-bold Minimum uptime
					| : #{bot.certified ? '95% (certified)' : '85%'}
				p.mb-0
					span.font-weight-bold Meets minimum
					if bot.certified ? (uptime.online / uptime.total > 0.95) : (uptime.online / uptime.total > 0.85)
						| : Yes
					else
						| : No
		.card.preview-card
			.card-body
				h2 Uptime Calculator
				p Use these calculators to figure out your bot's uptime after it has been offline for a certain period of time. On average, your bot's status is checked every #{checkInterval}.
				hr
				form.form#duration
					h4 Add Offline Time
					.input-list
						label(for='minutes') Minutes
						input.form-control.mb-2#minutes(type='number' min='0' max='59' step='1' value='0')
						label(for='hours') Hours
						input.form-control.mb-2#hours(type='number' min='0' max='23' step='1' value='0')
						label(for='days') Days
						input.form-control.mb-2#days(type='number' min='0' max='31' step='1' value='0')
					p.mt-3#result Loading uptime data...
					p.text-danger.d-none.mt-3#overLimit Your current offline duration exceeds this month's remaining duration. The uptime result has been locked to the end of the month.