extends ../layout.pug

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h2 Thank you!
			p Your bot has entered the queue for certification review. Please allow up to 2 week to check.