.DS_Store
src/config.js
node_modules/
package-lock.json
.env
.vscode
src/Assets/**
src/Static/**/*.min.*
!src/Static/css/bootstrap.min.css
!src/Static/css/codemirror.min.css
!src/Static/css/darcula.min.css
!src/Static/css/github-markdown.min.css
!src/Static/js/bootstrap.min.js
!src/Static/js/chart.min.js
!src/Static/js/codemirror.min.js
!src/Static/js/css.min.js
!src/Static/js/humanize-duration.min.js
!src/Static/js/markdown-it.min.js
!src/Static/js/markdown.min.js
!src/Static/js/moment.min.js