extends layout.pug

block tags
	meta(name='description' content='Read more about who we are, and what we strive to do as a community.')
	link(rel='canonical' href='https://botlist.space/about')
	
	// Open Graph
	meta(property='og:title' content='About | botlist.space')
	meta(property='og:description' content='Read more about who we are, and what we strive to do as a community.')
	meta(property='og:type' content='website')
	meta(property='og:url' content='https://botlist.space/about')
	meta(property='og:image' content='https://botlist.space/img/logo.png')

block scripts
	script(type='application/ld+json').
		{
			"@context": "http://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [
				{
					"@type": "ListItem",
					"position": 1,
					"name": "Home",
					"item": "https://botlist.space/"
				},
				{
					"@type": "ListItem",
					"position": 2,
					"name": "About",
					"item": "https://botlist.space/about"
				}
			]
		}

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h1 About
			p Read about who we are.
	.container
		h2 What is botlist.space?
		p botlist.space is a Discord bot list that was founded back in 2017. We started as a small community which provided bots to users. To this day, we have expanded to a whole network of other sites, including a server list. We are still dedicated to providing users with the perfect bots that will fit their server. Although we aren't as small as we used to be, we still take time making sure that you find exactly what you need, and assisting in any way.
		h2.mb-3.mt-5 The Moderation Team
	.padded-container
		.row
			for usr in team
				.col-lg-4
					include include/user-card.pug
	.container
		h2 Our Graphic Designers
		p
			| When we were designing revision 4 for the site, we had to have a graphic designer to make us some vector graphics for the tags section of our site, along with header icons like on the main page and certification page. Aziz Natour was our first choice, and he definitely didn't disappoint in the work he provided us! If you want to learn more about what he does, you can check out his website 
			a(href='http://aziznatour.com/' target='_blank' rel='noreferrer') by clicking here
			| . Recently, we needed to design some widgets so that the developers could use them to show off their bot. Kognise#6256 made some beautiful widgets which we still use to this day.