extends layout.pug

block tags
	meta(name='description' content='Use our simple search to quickly find exactly what bots you\'re looking for.')
	link(rel='canonical' href='https://botlist.space/bots')
	
	// Open Graph
	meta(property='og:title' content='Bots | botlist.space')
	meta(property='og:description' content='Use our simple search to quickly find exactly what bots you\'re looking for.')
	meta(property='og:type' content='website')
	meta(property='og:url' content='https://botlist.space/bots')
	meta(property='og:image' content='https://botlist.space/img/logo.png')

block scripts
	script(type='application/ld+json').
		{
			"@context": "http://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [
				{
					"@type": "ListItem",
					"position": 1,
					"name": "Home",
					"item": "https://botlist.space/"
				},
				{
					"@type": "ListItem",
					"position": 2,
					"name": "Bots",
					"item": "https://botlist.space/bots"
				}
			]
		}
	script(type='application/ld+json').
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"url": "https://botlist.space/",
			"potentialAction": {
				"@type": "SearchAction",
				"target": "https://botlist.space/search?q={search}",
				"query-input": "required name=search"
			}
		}

block content
	img.background(src='/img/background' + (user && user.style === 1 ? '-dark' : '') + '.svg' alt='Background splash')
	.jumbotron.secondary-jumbotron.bg-transparent.waves-bg
		.container
			h2 Bots
			label(for='search') Quickly search for features that you're looking for.
			form(action='/search')
				input.form-control.large-search.mb-40#search(type='text' name='q' placeholder='Search for something great...')
			.button-list.button-list-mr-20
				if sortedBy === 'upvotes'
					a.btn.btn-light.active(href='/bots') Top Bots
				else
					a.btn.btn-light(href='/bots') Top Bots
				if sortedBy === 'new'
					a.btn.btn-light.active(href='/bots/new') New Bots
				else
					a.btn.btn-light(href='/bots/new') New Bots
				if sortedBy === 'certified'
					a.btn.btn-light.active(href='/bots/certified') Certified Bots
				else
					a.btn.btn-light(href='/bots/certified') Certified Bots
				if sortedBy === 'tag'
					a.btn.btn-light.active(href='/tags') Find by Tags
				else
					a.btn.btn-light(href='/tags') Find by Tags
	.padded-container
		include include/pagination.pug
		if bots.length
			ul.row.bot-list
				for bot in bots
					li.col-lg-4.col-md-6.col-sm-12
						include include/bot-card.pug
		else
			p.text-center There doesn't seem to be any bots here.