extends layout.pug

block tags
	meta(name='description' content='Our Privacy Policy, explaining how we collect user information and how we use it.')
	link(rel='canonical' href='https://botlist.space/privacy')
	
	// Open Graph
	meta(property='og:title' content='Privacy Policy | botlist.space')
	meta(property='og:description' content='Our Privacy Policy, explaining how we collect user information and how we use it.')
	meta(property='og:type' content='website')
	meta(property='og:url' content='https://botlist.space/privacy')
	meta(property='og:image' content='https://botlist.space/img/logo.png')

block scripts
	script(type='application/ld+json').
		{
			"@context": "http://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [
				{
					"@type": "ListItem",
					"position": 1,
					"name": "Home",
					"item": "https://botlist.space/"
				},
				{
					"@type": "ListItem",
					"position": 2,
					"name": "Privacy Policy",
					"item": "https://botlist.space/privacy"
				}
			]
		}

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h1 Privacy Policy
			p How we collect and use your information.
	.container
		h2 Privacy Policy
		p This Privacy Policy includes information on how we will collect information on our users and how we use it.
		h3 What we collect
		ul
			li Basic Discord profile information (ID, username, discriminator, avatar)
			li Request logs (including IP addresses)
			li Any other user submitted content
		h3 How we use it
		p botlist.space does not believe in the principal of selling user information. We will not share, sell, or in any way give away our users' data to any 3rd parties. The API provides users with interaction with our data, which includes user information like ID, username, and other user provided content. This information is not intended to be abused or mistreated, and is only provided for utilitous reasons.
		h3 Your content
		p When you use our site, and submit information like signing in with Discord and submitting a bot, you are responsible for your own information. If any content submitted is linked to any legal trouble, we will remove it. We will also purge information from our database upon request.