extends layout.pug

block tags
	meta(name='description' content='Use our simple search to quickly find exactly what bots you\'re looking for.')
	link(rel='canonical' href='https://botlist.space/search?q=' + search)
	
	// Open Graph
	meta(property='og:title' content='Search | botlist.space')
	meta(property='og:description' content='Use our simple search to quickly find exactly what bots you\'re looking for.')
	meta(property='og:type' content='website')
	meta(property='og:url' content='https://botlist.space/bots')
	meta(property='og:image' content='https://botlist.space/img/logo.png')

block scripts
	script(type='application/ld+json').
		{
			"@context": "http://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [
				{
					"@type": "ListItem",
					"position": 1,
					"name": "Home",
					"item": "https://botlist.space/"
				},
				{
					"@type": "ListItem",
					"position": 2,
					"name": "Bots",
					"item": "https://botlist.space/bots"
				}
			]
		}
	script(type='application/ld+json').
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"url": "https://botlist.space/",
			"potentialAction": {
				"@type": "SearchAction",
				"target": "https://botlist.space/search?q={search}",
				"query-input": "required name=search"
			}
		}

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h2 Search
			p
				| Showing search results for #{search}.
			form(action='/search')
				input.form-control.large-search.mb-40(type='text' name='q' placeholder='Search for something great...' value=search)
			if sortedBy === 'upvotes'
				a.btn.btn-outline-secondary.btn-large-rounded.active.mr-20(href='/bots') Top Bots
			else
				a.btn.btn-outline-secondary.btn-large-rounded.mr-20(href='/bots') Top Bots
			if sortedBy === 'new'
				a.btn.btn-outline-secondary.btn-large-rounded.mr-20.active(href='/bots/new') New Bots
			else
				a.btn.btn-outline-secondary.btn-large-rounded.mr-20(href='/bots/new') New Bots
			if sortedBy === 'tag'
				a.btn.btn-outline-secondary.btn-large-rounded.mr-20.active(href='/tags') Find by Tags
			else
				a.btn.btn-outline-secondary.btn-large-rounded.mr-20(href='/tags') Find by Tags
	.container
		include include/pagination.pug
	.padded-container
		if bots.length
			ul.row.bot-list
				for bot in bots
					li.col-lg-4.col-md-6.col-sm-12
						include include/bot-card.pug
		else
			p.text-center There doesn't seem to be any bots here.