extends layout.pug

block tags
	meta(name='description' content='A list of tags available when filtering through bots.')
	link(rel='canonical' href='https://botlist.space/tags')
	
	// Open Graph
	meta(property='og:title' content='Tags | botlist.space')
	meta(property='og:description' content='A list of tags available when filtering through bots.')
	meta(property='og:type' content='website')
	meta(property='og:url' content='https://botlist.space/tags')
	meta(property='og:image' content='https://botlist.space/img/logo.png')

block scripts
	script(type='application/ld+json').
		{
			"@context": "http://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [
				{
					"@type": "ListItem",
					"position": 1,
					"name": "Home",
					"item": "https://botlist.space/"
				},
				{
					"@type": "ListItem",
					"position": 2,
					"name": "Tags",
					"item": "https://botlist.space/tags"
				}
			]
		}

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h2 Tags
			p Select tags below and click search to find bots by those features.
	.container
		.row.tag-list
			for tag in tags
				.col-lg-3.col-md-6.col-sm-12
					a.btn.btn-dark.full-width.tag(href='/bots/tag/' + tag.short)
						if tag.icon
							img(src=tag.icon alt=tag.name)
						span #{tag.name}