extends ../layout.pug

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h1 Manage User
			p Make modifications to your account on botlist.space.
	.container
		.row
			.col-lg-4
				a.no-color(href='/user/' + usr.id + '/edit')
					.card.action-card
						.card-body
							h2 Edit Profile
			.col-lg-4
				a.no-color(href='/user/' + usr.id + '/settings')
					.card.action-card
						.card-body
							h2 Settings
			if user.admin
				.col-lg-4
					if user.id !== usr.id && !usr.admin
						a.no-color(href='/user/' + usr.id + '/ban')
							.card.action-card
								.card-body
									if usr.banned
										h2 Unban from Site
									else
										h2 Ban from Site
					else
						.card.action-card.action-card-blocked
							.card-body
								if usr.banned
									h2 Unban from Site
								else
									h2 Ban from Site