extends ../layout.pug

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h2 Add Library
			p Fill out a name of a library to add it to the site.
	.container
		form.form(method='post')
			.form-group
				label.required(for='shortDescription') Library Name
				input#shortDescription.form-control(type='text' name='library_name' required)
			button.btn.btn-dark.no-corners(type='submit') Submit