extends ../layout.pug

block scripts
	script(type='text/javascript' src='/js/humanize-duration.min.js')
	script(type='text/javascript' src='/js/jobs' + min + '.js')

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h1 Jobs
			p Automatic scheduled jobs that run on the site.
	.container
		.row
			for job in jobs
				.col-lg-6
					.card.preview-card
						.card-body
							h4.mb-0 #{job.name}
							p.mb-0(data-countdown=job.nextInvocation()) Loading...