extends ../layout.pug

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h1 Libraries
			p Available libraries listed under bot pages.
	.container
		a.btn.btn-outline-secondary.no-corners.mb-3(href='/admin/libraries/add') Add Library
		if libraries.length
			.row
				for library in libraries
					.col-lg-6
						.card.preview-card
							.card-body
								h4.mb-0 #{library.name}
								a.mb-0(href='/admin/libraries/' + library.id + '/delete') Delete
		else
			p.text-center There doesn't seem to be any libraries here.