extends ../layout.pug

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h1 Uptime
			p A list of every bot, followed by their uptime.
	.container
		table.table#uptime-table
			thead
				tr
					th(scope='col') Uptime
					th(scope='col') Checks
					th(scope='col') Bot
			tbody
				for bot in bots
					tr(class=((bot.certified && bot.uptime < 95) || bot.uptime < 85 ? 'table-warning' : ''))
						th(scope='row') #{bot.uptime ? bot.uptime.toFixed(1) + '%' : 'Unknown'}
						td #{bot.checks ? bot.checks.toLocaleString() : 'Unknown'}
						td
							a(href='/bot/' + bot.id) #{bot.username}##{bot.discriminator}